Django>=6.0
gunicorn
psycopg2-binary
dj-database-url
whitenoise
python-decouple
django-jazzmin
pandas
openpyxl
weasyprint
django-anymail
django-cloudinary-storage
cloudinary
requests
urllib3
python-docx
pdfplumber
markdown
