{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {# Mantiene el botón de "Agregar Recibo" original #}
    {{ block.super }}

    {# Agrega tu botón de Carga Masiva #}
    {% if boton_carga %}
    <li>
        <form action="{% url 'admin:cargar_nomina' %}" method="post" enctype="multipart/form-data" style="display: flex; align-items: center; gap: 10px;">
            {% csrf_token %}
            <input type="file" name="archivo_excel" required accept=".xlsx" style="font-size: 12px;">
            <button type="submit" class="button" style="background: #28a745; color: white; border: none;">
                <i class="fas fa-file-excel"></i> Cargar Excel
            </button>
        </form>
    </li>
    {% endif %}
{% endblock %}