/* static/css/admin_fix.css */

/* Correcciones de color para inputs y selects en temas oscuros/claros */
select, option {
    background-color: #ffffff !important;
    color: #333333 !important;
    border: 1px solid #cccccc !important;
}

.select2-container--admin-autocomplete .select2-selection--single,
.select2-dropdown,
.select2-results__option {
    background-color: #ffffff !important;
    color: #333333 !important;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb !important; 
    color: #ffffff !important;
}