{% extends "documentos/_base.html" %}
{% load qkt_documentos %}

{% block subtitulo %}Desglose de subcuentas y movimientos{% endblock %}

{% block filtros %}
<span><b>Cuenta:</b> {{ cuenta_padre.codigo_sat }} {{ cuenta_padre.nombre }}</span>
<span><b>Periodo:</b> {{ fecha_inicio|date:"d/m/Y" }} al {{ fecha_fin|date:"d/m/Y" }}</span>
<span><b>Unidad:</b> {{ unidad|default:"Todas" }}</span>
{% endblock %}

{% block contenido %}
<table class="doc-tabla">
  <thead>
    <tr>
      <th class="col-codigo">Código</th>
      <th>Subcuenta</th>
      <th class="num col-monto">S. Inicial</th>
      <th class="num col-monto">Cargos</th>
      <th class="num col-monto">Abonos</th>
      <th class="num col-monto">S. Final</th>
      <th class="centro col-corta">Movs.</th>
    </tr>
  </thead>
  <tbody>
    {% for l in lineas %}
    <tr>
      <td class="codigo">{{ l.codigo }}</td>
      <td>{{ l.nombre }}</td>
      <td class="num">{{ l.saldo_inicial|moneda }}</td>
      <td class="num">{{ l.cargos|moneda }}</td>
      <td class="num">{{ l.abonos|moneda }}</td>
      <td class="num">{{ l.saldo_final|moneda }}</td>
      <td class="centro">{{ l.num_movimientos }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="7" class="vacio">Sin subcuentas con movimientos.</td></tr>
    {% endfor %}
    <tr class="total">
      <td colspan="3">Totales</td>
      <td class="num">{{ total_debe|moneda }}</td>
      <td class="num">{{ total_haber|moneda }}</td>
      <td class="num">{{ total_saldo|moneda }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}
